@model IEnumerable<Inventory.Models.Entity.Edificio>
@using NonFactors.Mvc.Grid;

@{
    ViewBag.Title = "Listado de edificios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de edificios</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>

    @(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(model => model.Codigo).Titled("Codigo");
            columns.Add(model => model.Direccion).Titled("Dirección");
            columns.Add(model => model.Tecnico).Titled("Técnico");
            columns.Add(model => model.Fecha).Titled("Fecha").Formatted("{0:d}").Filterable(false);
            columns.Add(model => model.EstadoDesc).Titled("Estado").WithFilterOptions(new[]
                                                                    {
                                                                        new SelectListItem(),
                                                                        new SelectListItem { Value = "PreCumplido", Text = "Pre-Cumplido" },
                                                                        new SelectListItem { Value = "Cumplido", Text = "Cumplido" }
                                                                    });
        })
        .WithFilterMode(GridFilterMode.FilterRow)
        .Empty("No se encontraron datos.")
        .Filterable()
        .Sortable()
        .Pageable()
    )
